.App {
  text-align: center;
}

.Header {
  margin: 0;
  background-color: rgb(230, 230, 15);
  padding: 5px 0;   
}

img {
  margin-top: 20px;
  width: 200px;
}

input {
  display: block;
  margin: 20px auto 0 auto;
  width: 50%;
  height: 30px;
  font-size: larger;
}

footer {
  margin-top: 20px;
  background-color: rgb(230, 230, 15);
  color: black;
  text-align: center;
  padding: 10px 0;    
}

h3 {
  margin: 0;
}

.footer-links {
  text-decoration: none;
  color: black;
  padding: 5px;
}